<div class="row ">
  <h1 class="text-center">Welcome to the Task Manager</h1>
</div>

<ul class="col-md-4 col-md-offset-4 row well">
  <li class="col-md-4 col-md-offset-2 nav nav-pills"><a class="btn btn-success" href="/tasks">Task Index</a></li>
  <li class="col-md-4 col-md-offset-1 nav nav-pills"><a class="btn btn-primary" href="/tasks/new">New Task</a></li>
</ul>
